[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/calini/hugo-theme-anubis